parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     vk-notify
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       notice@vknotice.ru
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    vk.user_id: 54442334
    vk.app_id: 5344237
    vk.username: mrsuh@mail.ru
    vk.password: 23hdfgerHqXbSr23d

    hash.min_hash_length: 20
    hash.alphabet: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890
    hash.salt.unsubscribe: salt

    rabbit.username: guest
    rabbit.password: guest

    bot.api_key: key
    bot.name: name
    bot.host_url: https://url

